.container {
    position: fixed;  // 🔹 make sure it appears above everything else
    top:0; // 🔸Position it at the top left corner of the screen
    left:0; // 🔸
    width: 100vw; // 🔹 make it take the entire ViewPort
    height: 100vh; // 🔹 
    display: flex; // 🔸 Make sure its centerted on the screen
    align-items: center; // 🔸
    justify-content: center; // 🔸
    background: #5a5a5a;
    
}