$light-color: rgb(199, 201, 198);
$dark-color: rgb(206, 206, 206);



.container {
  position: fixed; // 🔹 make sure it appears above everything else
  top: 0; // 🔸Position it at the top left corner of the screen
  left: 0; // 🔸
  width: 100vw; // 🔹 make it take the entire ViewPort
  height: 100vh; // 🔹
  display: flex; // 🔸 Make sure its centerted on the screen
  align-items: center; // 🔸
  justify-content: center; // 🔸
  background-color: rgb(44, 44, 44);
}


.box {
  /* Finally, a use for "groove"! */
  border: 20px groove rgb(44, 44, 44);
  display: table-cell;
  border-radius: 999px;
  animation: spin 15s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}



