$light-color: rgb(199, 201, 198);
$dark-color: rgb(206, 206, 206);



.container {
  position: fixed; // 🔹 make sure it appears above everything else
  top: 0; // 🔸Position it at the top left corner of the screen
  left: 0; // 🔸
  width: 100vw; // 🔹 make it take the entire ViewPort
  height: 100vh; // 🔹
  display: flex; // 🔸 Make sure its centerted on the screen
  align-items: center; // 🔸
  justify-content: center; // 🔸
  background-color: rgb(44, 44, 44);
}

#eclipses {
    transform-origin: center;
}

#eclipse_1 {
  transform-origin: center;

  animation: eclipse1 2s ease-in-out infinite;
}
#eclipse_2 {
  transform-origin: center;

  animation: eclipse2 1.5s ease-in-out infinite;
}
#eclipse_3 {
  transform-origin: center;

  animation: eclipse3 1.7s ease-in-out infinite;
}

#outer_1{
  transform-origin: center;
  animation: eclipse1 6s ease-in-out infinite;

}
#outer_2{
  transform-origin: center;
  animation: eclipse2 8s linear infinite;
}
#outer_3{
  transform-origin: center;
  animation: eclipse2 8s ease-in-out infinite;

}
#outer_4{
  transform-origin: center;
  animation: eclipse2 5s ease-in-out infinite;

}

#mesa_mati{
  transform-origin: center;
  animation: moveEye 7s ease-in-out infinite;


}

#telitsa_mati{
  transform-origin: center;
  animation: moveEye 7s ease-in-out infinite;


} 

@keyframes eclipse1 {
   to {
    transform: rotateZ(360deg);
   } 
}
@keyframes eclipse2 {
   to {
    transform: rotateZ(-360deg);
   } 
}
@keyframes eclipse3 {
   to {
    transform: rotateZ(360deg);
   } 
}

@keyframes moveEye {
  0%{
    
  }
  25%{
    transform: translateX(-4px)
  }
  50%{
    transform: translateX(5px) translateY(0.5px) 
  }
  75%{
    transform: translateX(-4px)
  }
}
