$light-color: rgb(199, 201, 198);
$dark-color: rgb(206, 206, 206);
$animation-time: 5s;

.container {
  position: fixed; // 🔹 make sure it appears above everything else
  top: 0; // 🔸Position it at the top left corner of the screen
  left: 0; // 🔸
  width: 100vw; // 🔹 make it take the entire ViewPort
  height: 100vh; // 🔹
  display: flex; // 🔸 Make sure its centerted on the screen
  align-items: center; // 🔸
  justify-content: center; // 🔸
  background-color: rgb(82, 82, 82);
}

#skeleton {
  // fill: red;

}

#face {
  &__lefteye{
    animation: eyes $animation-time ease infinite;
    transform-origin: left;
  }
  &__righteye{
    animation: eyes $animation-time ease infinite;
    transform-origin: right;

  }
  &__leftbrow{
    animation: brow $animation-time ease infinite;
    
  }
  &__rightbrow{
    animation: brow $animation-time ease infinite;

  }
  &__mouth{
    animation: bmouth $animation-time ease infinite;
    transform-origin: inherit;
  }

}

@keyframes eyes {
  0%{
    transform: translate(0);
  }

  25%{
    transform: translateX(50px);

  }
  50%{
    transform: translateX(-20px) translateY(50px);
  }
  75%{
    transform: translateX(-20px) translateY(-20px);
  }
  100%{
    transform: translate(0);
  }
}

@keyframes brow {
  0%{
    transform: translateY(0);
  }

  25%{
    transform: translateY(20px) ;

  }
  50%{
    transform: translateY(10px);
  }
  75%{
    transform: translateY(-40px);
  }
  100%{
    transform: translate(0);
  }
}
@keyframes mouth {
  0%{
    transform: scale(1) translateY(0);
  }

  25%{
    transform: translateY(20px) ;

  }
  50%{
    transform: scale(1.2) translateY(10px);
  }
  75%{
    transform: stranslateY(-10px);
  }
  100%{
    transform: translate(0);
  }
}



  
